button{
    color: white;
    background-color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 50%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.disliked{
    background-color: red;
}

.inactive{
    background-color: grey;
}